/* Style the table */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

/* Style the table header */
th {
    background-color: #b6beb9;
}

/* Style the table rows */
tr {
    border-top: 1px solid #ddd;
}

/* Style the table cells */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
